{{!-- app/templates/app/nevigation.hbs --}}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand kf" style="cursor:pointer" {{action 'transitionAndScroll' 'users.index' '.page-top' target=view}}><i class="ki k-tree"></i>Millionaire Labs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#link-to 'users.index' style='cursor:pointer' class='kf'}}Users{{/link-to}}
        </li>
        <li>
          {{#link-to 'home' style='cursor:pointer' class= 'kf'}}home{{/link-to}}
        </li>
        <li>
          <a class='kf' style='cursor:pointer' {{action invalidateSession}}>Sign Out</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
